In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset=dataset.astype(int)

In [6]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [8]:
from sklearn.model_selection import GridSearchCV

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
param_grid = {'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'], 'max_features':['sqrt','log2']}
grid=GridSearchCV(RandomForestRegressor(), param_grid,refit=True, verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2']},
             verbose=3)

In [11]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2'}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,6.918659,2.962231,0.923765,0.439187,squared_error,sqrt,"{'criterion': 'squared_error', 'max_features':...",0.856299,0.781657,0.858113,0.821708,0.836404,0.830836,0.028019,2
1,0.976984,0.020003,0.037103,0.002984,squared_error,log2,"{'criterion': 'squared_error', 'max_features':...",0.851615,0.774855,0.854854,0.818804,0.839489,0.827923,0.029393,5
2,0.976387,0.008533,0.042487,0.008476,friedman_mse,sqrt,"{'criterion': 'friedman_mse', 'max_features': ...",0.852137,0.772005,0.850778,0.824047,0.838001,0.827393,0.029498,8
3,0.968609,0.010158,0.041090,0.004521,friedman_mse,log2,"{'criterion': 'friedman_mse', 'max_features': ...",0.853280,0.775327,0.847436,0.823161,0.839772,0.827795,0.028118,6
4,2.904328,0.056535,0.044083,0.006351,absolute_error,sqrt,"{'criterion': 'absolute_error', 'max_features'...",0.853360,0.770966,0.849756,0.826722,0.837574,0.827676,0.029873,7
5,2.510283,0.255337,0.042487,0.008287,absolute_error,log2,"{'criterion': 'absolute_error', 'max_features'...",0.860154,0.773860,0.853946,0.822768,0.845128,0.831171,0.031332,1
6,1.887948,0.825496,0.045478,0.016188,poisson,sqrt,"{'criterion': 'poisson', 'max_features': 'sqrt'}",0.855074,0.774001,0.854069,0.822818,0.839000,0.828993,0.029905,4
7,1.345599,0.120530,0.053259,0.012688,poisson,log2,"{'criterion': 'poisson', 'max_features': 'log2'}",0.857081,0.771542,0.859065,0.822854,0.838334,0.829775,0.031987,3

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:30
BMI:32
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [15]:
Future_prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[37630.78]

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(